.bg-secondary {
  background-color: #E8E8EA4B !important;
}

.bg-accept {
  background-color: #00C4B8;
}

.bg-reject {
  background-color: #F44336;
}

.bg-blue {
  background-color: #45BCEC;
}

.bg-tint {
  background-color: #0087B4 !important;
}
