small, p, label, h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
}

@media(max-width: 762px) {
  h1 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.45rem;
  }
  h4 {
    font-size: 1.2rem
  }
  h5 {
    font-size: 0.95rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}
